@font-face {
  font-family: PressStart;
  src: url(./assets/fonts/PressStart2P.ttf);
}

body, html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: PressStart;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    
    background: url(./assets/img/bg.png) no-repeat;
    background-size: auto;
    background-position: center;
}

td {
    height: 13px;
    width: 13px;
    padding: 0px;
    position: absolute;
    visibility: hidden;

}


table {
    z-index: 2;
    position: absolute;
    top: 12.9%;
    opacity: 0;
    left: 50%;
    border-spacing: 0px;
    transform: rotateX(60deg) rotateZ(45deg) scale(5);
    -webkit-transform: rotateX(60deg) rotateZ(45deg) scale(5);
    -moz-transform: rotateX(60deg) rotateZ(45deg) scale(5);
    -ms-transform: rotateX(60deg) rotateZ(45deg) scale(5);
    -o-transform: rotateX(60deg) rotateZ(45deg) scale(5);
    animation: canvasSlide 2s forwards;
    -webkit-animation: canvasSlide 2s forwards;
    animation-play-state: paused;
}

@keyframes canvasSlide {
  0%{}
  70%{
    opacity: 1;
  }
  100%{
    top: 32.9%;
    opacity: 1;
  }
}
.overlay {
  pointer-events: none;
    display: block;
    z-index: 1;
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: rgb(31, 33, 58);
    opacity: 0.2;
}
/* Tiles */
.cover {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
}

.cover:hover {
    cursor: pointer;
}
/* Blocks */
.block {
    visibility: visible;
    /*border:solid 3px red;
    */width: 54px;
    height: 59px;
    filter: grayscale(60%);
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    background: url(./assets/blocks/grass.png) 0 0 no-repeat;
    transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-0.1em, -.9em, -.2em);
    -webkit-transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-0.1em, -.9em, -.2em);
    -webkit-filter: grayscale(60%);
    -moz-transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-0.1em, -.9em, -.2em);
    -ms-transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-0.1em, -.9em, -.2em);
    -o-transform: rotateZ(-45deg) rotateY(-60deg) translate3d(-0.1em, -.9em, -.2em);
}

.block:hover  {
    filter: grayscale(20%);
    -webkit-filter: grayscale(20%);
}
.block div {
    clip-path: none;
}

.block--possibleMove {
    filter: grayscale(20%) saturate(1.5);
    -webkit-filter: grayscale(20%) saturate(1.5);
}


.block--obstacle {
    transform: translate3d(15px, -17px, 0px);
    width: 100%;
    height: 100%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    -webkit-transform: translate3d(15px, -17px, 0px);
    -moz-transform: translate3d(15px, -17px, 0px);
    -ms-transform: translate3d(15px, -17px, 0px);
    -o-transform: translate3d(15px, -17px, 0px);
}

.block--obstacle__barrel {
    width: 47%;
    height: 61%;
    background: url(./assets/blocks/barrel.png) 0px 0px no-repeat;
}
.block--obstacle__barbedwire {
    width: 55%;
    height: 55%;
    background: url(./assets/blocks/barbed.png) 0px 0px no-repeat;
}
.block--obstacle__woodbox {
    width: 55%;
    height: 61%;
    background: url(./assets/blocks/woodbox.png) 0px 0px no-repeat;
}



.block--player {
    transform: translate3d(15px, -45px, 0px);
    width: 1.7em;
    height: 100%;
    background: url(./assets/chars/billy.png) 0 0 no-repeat;
    animation: billy-bottom-gif steps(4) 0.5s forwards;
    -webkit-animation: billy-bottom-gif steps(4) 0.5s forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-transform: translate3d(15px, -45px, 0px);
    -moz-transform: translate3d(15px, -45px, 0px);
    -ms-transform: translate3d(15px, -45px, 0px);
    -o-transform: translate3d(15px, -45px, 0px);
    -webkit-animation: billy-bottom-gif steps(2) .4s forwards;
    animation-play-state: paused;

}

.block--player .item {
  display: none;
}

.block--player__adam {
    transform: translate3d(11px, -30px, 0px);
    background: url(./assets/chars/adam.png) 0 0 no-repeat;
    -webkit-transform: translate3d(11px, -30px, 0px);
    -moz-transform: translate3d(11px, -30px, 0px);
    -ms-transform: translate3d(11px, -30px, 0px);
    -o-transform: translate3d(11px, -30px, 0px);
}

.block--player__billy {
    background: url(./assets/chars/billy.png) 0 0 no-repeat;
}

.block--player__myers {
    background: url(./assets/chars/myers.png) 0 0 no-repeat;
}

.block--player__clown {
    background: url(./assets/chars/clown.png) 0 0 no-repeat;
}

/* Items */
.item {
    position: absolute;
    transform: translate3d(15px, -17px, 0px);
    width: 44%;
    height: 49%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    -webkit-transform: translate3d(15px, -17px, 0px);
    -moz-transform: translate3d(15px, -17px, 0px);
    -ms-transform: translate3d(15px, -17px, 0px);
    -o-transform: translate3d(15px, -17px, 0px);
}

/* Tooltip text */.tooltiptext {
    font-size: .3em;
    font-family: sans-serif;
    visibility: hidden;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.89);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /*Positionthetooltiptext*/position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%);
    /*Fadeintooltip*/opacity: 0;
    transition: opacity 0.3s;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.tooltiptext h1 {
    font-size: .4em;
    margin-bottom: 0;
}
.tooltiptext p {
    margin-top: 0;
    font-size: .1em;
}
  /* Tooltip arrow */
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.89) transparent transparent transparent;
  }
.tooltiptext--survivor {
    font-weight: bolder;
    color:cyan;
}

.tooltiptext--chaser {
      font-weight: bolder;
      color:red;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

  }


/* INTERFACE */

.interface {
    image-rendering: pixelated;
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
}
.interface--element {
    position: absolute;
    display:block;
    bottom: 20%;
}
.interface--player {
    position: relative;
    width: 50%;
    height: 100%;
}
.interface--fight__blason {
    background: url('./assets/img/fight-blason.gif') no-repeat;
    background-size: cover;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
    z-index: 3000;
    width: 135px;
    height: 130px;
    position: absolute;
    visibility: hidden;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.interface--equipedItem {
    width: 100px;
    height: 100px;
    background-size: cover!important;
    background-position: top top!important;
    border: solid 3px rgb(156, 0, 0);
    background-color: rgba(0, 0, 0, 0.281);
}
/* player 1  */
.interface--player__1__equipedItem {
    left: 20%;

}

/* player 2 */
.interface--player__2__equipedItem {
    left: 20%;
}
.interface--player__2 {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
.interface--healthbar {
    font-weight: bold;
    line-height: 30px;
    width: 300px;
    height: 30px;
    left: 25%;
    bottom: 10%;
    background-color: rgb(114, 0, 0);
    border: solid 2px rgb(88, 0, 0);
}

.interface--healthbar__overlay {
    height: 100%;
    width: 60%;
    background: linear-gradient(to right, rgb(255, 183, 102),red);

}

.interface--player__char__survivor {
    /* background: url(./assets/chars/adam.png); */
    width: 3%;
    height: 5.1%;
    left: 5%;
    bottom: 20%;
    transform: scale(14);
    -webkit-transform: scale(14);
    -moz-transform: scale(14);
    -ms-transform: scale(14);
    -o-transform: scale(14);
    animation:billy-bottom-gif steps(2) .4s infinite;
    -webkit-animation:billy-bottom-gif steps(2) .4s infinite;
}

.interface--player__char__chaser {
    position: absolute;
    width: 2.7%;
    height: 7.6%;
    left: 3%;
    bottom: 30%;
    image-rendering: pixelated;
    transform: scale(16);
    -webkit-transform: scale(16);
    -moz-transform: scale(16);
    -ms-transform: scale(16);
    -o-transform: scale(16);
    animation: billy-bottom-gif steps(2) .4s infinite;
    -webkit-animation: billy-bottom-gif steps(2) 1s infinite;
}

.interface--inactive {
    opacity: 0.4;
}

.interface--inactive div {
    animation-play-state: paused!important;
}

@keyframes billy-bottom-gif {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 95%;
    }
  }

  .interface--button__block {
    background: url(./assets/img/button-block.png) no-repeat;

}

  .interface--button__music {
    pointer-events: all;
    position: absolute;
    background: url(./assets/img/button-music.png) no-repeat;
    width: 109px;
    height: 25px;
    right: 0%;
    top: 5%;
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    z-index: 3000;
}

.interface--button__music:hover {
    background: url(./assets/img/button-music__hover.png) no-repeat;
    cursor:pointer;
}

  .interface--button__action2 {
      pointer-events: all;
      position: absolute;
      background: url(./assets/img/button-turn.png) no-repeat;
      width: 109px;
      height: 25px;
      left: 50%;
      bottom: 5%;
      transform: scale(2) translateX(-30%);
      -webkit-transform: scale(2) translateX(-30%);
      -moz-transform: scale(2) translateX(-30%);
      -ms-transform: scale(2) translateX(-30%);
      -o-transform: scale(2) translateX(-30%);
      z-index: 3000;
}

.interface--button__turn:hover {
    background-image: url(./assets/img/button-turn__hover.png);
    cursor: pointer;

}

.interface--button__turn:active {
    background-image: url(./assets/img/button-turn__active.png);
    cursor: pointer;
}

.interface--button__action1 {
    pointer-events: all;
    position: absolute;
    background: url(./assets/img/button-equip.png) no-repeat;
    width: 109px;
    height: 25px;
    left: 50%;
    bottom: 11%;
    transform: scale(2) translateX(-15%);
    -webkit-transform: scale(2) translateX(-15%);
    -moz-transform: scale(2) translateX(-15%);
    -ms-transform: scale(2) translateX(-15%);
    -o-transform: scale(2) translateX(-15%);
    z-index: 3000;
}

.interface--button__action1:hover {
  background-image: url(./assets/img/button-equip__hover.png);
  cursor: pointer;

}

.interface--button__action1:active {
  background-image: url(./assets/img/button-equip__active.png);
  cursor: pointer;
}

.interface--bar__movementPoints {
    font-weight: bold;
    line-height: 30px;
    width: 300px;
    height: 30px;
    left: 25%;
    bottom: 15%;
    background-color: rgb(56, 255, 82);
    border: solid 2px rgb(2, 2, 2);
}
.interface--bar__totalturn {
    visibility: hidden;
    display: block;
    width: 500px;
    height: 20px;
    background: rgb(165, 165, 165);
    border: solid 4px black;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


.interface--bar__totalturn__fill {
    display: block;
    width: 50%;
    height: 100%;
    background: white;
}

.totalTurn {
    position: absolute;
    z-index: 3000;
    margin: 0;
    top: 0%;
    font-weight: bolder;
    left: 1%;
}


/* ANCHOR : INTRO */


.intro {
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: relative;
  image-rendering: pixelated;
}

.intro--title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -55%);
  top: 50%;
  width: 60%;
  height: auto;
  background-size: 100%;
  animation: zoom-in 350s forwards;
}


@keyframes zoom-in {
  0% {}
  100% {
    width:90%;
    transform: translate(-50%, -45%);

  }
}

.intro--leaves {
  position: absolute;
  width: 100%;
  height: auto;
  background: url('./assets/img/intro-leaves.png') 0 -100px no-repeat;
  background-size: 100%;
  bottom: 0;
  animation: leaves-transition 2s forwards;
  animation-play-state: paused;
  z-index: 60;
  pointer-events: none;
  -webkit-animation:;
}

@keyframes leaves-transition {
  0%{}
  100%{
    width: 500%;
  }
}

.intro--newgame {
  position: absolute;
  z-index: 50;
  left: 50%;
  transform: translate(-50%);
  top: 70%;
  background: transparent;
  color: white;
  border: none;
  font-size: 2em;
  font-family: PressStart;
  text-shadow: 0 0 5px black;
}

.intro--newgame:focus {
  outline: none;
}

.intro--newgame:hover:before {
  content: '> ';
}

.intro--newgame:hover:after {
  content: ' <';
  animation: none;
}

.intro--newgame:after {
  content: '';
  animation: waiting-dots 5s infinite;
}

@keyframes waiting-dots {
  10% {
    content: '.';
  }
  20%{
    content: '..';
  }
  30%{
    content: '...';
  }
}

/* GameMode selection */

.intro--gameMode {
  animation-play-state: paused;
  text-align: center;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  z-index: 300;
  display:flex;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.intro--gameMode__box {
  margin: auto;
  width: 40%;
  height: 60%;
    visibility: hidden;
    background-size: 100%!important;
  animation: slidedown-show 1s forwards;
  animation-play-state: paused;
}

.intro--gameMode__box:hover {
  cursor: pointer;
  filter: saturate(1.3);
  -webkit-filter: saturate(1.3);

}

.intro--gameMode__tip {
  z-index: 60;
  color: white;
  font-weight: 100;
  text-shadow: 0 0 .2em black;
  position: absolute;
  animation: slidedown-show 1s forwards;
    visibility: hidden;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-animation: slidedown-show 1s forwards;
  animation-play-state: paused;

}

@keyframes slidedown-show {
  0%{
    top: +0%;
    opacity: 0;
  }
  30%{
    top: +0%;
    opacity: 0;
  }
  100%{
    opacity: 1;
    visibility: visible;
    top: +20%;
  }
}

@keyframes slideup-hide {
  0%{
    top: 20%;
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    top: 0%;
  }
}

/* CHAR SELECTION */
.intro--characterSelection__tip {
  z-index: 60;
  color: white;
  font-weight: 100;
  text-shadow: 0 0 .2em black;
  position: absolute;
  animation: slidedown-show 1s forwards;
    visibility: hidden;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-animation: slidedown-show 1s forwards;
  animation-play-state: paused;

}

.intro--characterSelection {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.intro--characterSelection__player {
  color: white;
  padding-top: 10%;
  text-align: center;
  position: absolute;
  width: 50%;
  height: 100%;
}

.intro--characterSelection__player:last-child {
  right: 0;
}

.intro--characterSelection__chars {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.intro--characterSelection__char {
  opacity: .7;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 460%;
  background-color: #000;
}
.intro--characterSelection__char:hover {
  opacity: 1!important;
  filter: grayscale(0)!important;
  -webkit-filter: grayscale(0)!important;
}

.intro--characterSelection__char.selected {
  opacity: 1;

}

.intro--characterSelection__char.out {
  opacity: .5;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.intro--characterSelection__charPreview {
  width: 220px;
  height: 520px;
  background-size: 500%;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -30%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}


.intro--characterSelection__startButton {
  font-family: PressStart;
  z-index: 100;
  color: white;
  background: none;
  outline: none;
  border: none;
  font-weight: 100;
  font-size: 2em;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  border-bottom: solid 5px white;
}

.intro--characterSelection__startButton:hover:after {
  content: ' <';
}
.intro--characterSelection__startButton:hover:before {
  content: '> ';
}

/* Winning screen */
.interface--winner {
  text-align: center;
  width: 30%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  color:white;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  position: absolute;
  top: 5%;
  left: 50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -o-transform:translate(-50%);
  justify-content: space-between;
  flex-direction: column;
  z-index: 1000!importnat;
}

.interface--winner__text {
  color:yellow;
  flex-basis: 1;
}

.interface--winner button:hover:after {
  content: ' <';
}

.interface--winner button:hover:before {
  content: '> ';
}

button {
  background: inherit;
  color: inherit;
  font: inherit;
  outline: inherit;
  border: inherit;
}
